<div class="card mb-3">
    <h3 class="card-header">{{item.nameCharacter}}</h3>
    <!-- <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <h6 class="card-subtitle text-muted">Support card subtitle</h6>
    </div> -->
    <img src="{{item.avatar}}">
    <div class="card-body">
      <p class="card-text">{{item.descriptionRol}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Habilidad: {{item.ability}}</li>
    </ul>
    <div class="card-body">
        
    </div>
    <div class="card-footer text-muted">
        <i class="bi bi-trash-fill" (click)="deleteitem()"></i>
        <i class="bi bi-pencil-fill"></i>
    </div>
  </div>