<div class="container">
    <div class="row my-4">
        <div class="col-12">
            <p class="fs-2 text-center">Crea tu personaje</p>
        </div>
        <div class="col-12">
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum dignissimos ex
                voluptatum perferendis
                repellat? Ducimus ratione unde illo obcaecati, nostrum natus quis commodi ab possimus minus tempore
                voluptates laborum aliquam.</p>
        </div>
    </div>

    <div *ngIf="showAlert" class="alert alert-success" role="alert">
        Personaje creado
    </div>


    <form [formGroup]="createCharacter" class="row justify-content-center">
        <div class="form-floating col-sm-12 col-md-6 mt-4">
            <input type="text" class="form-control" id="character" placeholder="pikapika"
                formControlName="nameCharacter">
            <label for="floatingInput">Nombre del personaje</label>
        </div>
        <div class="form-floating col-sm-12 col-md-6 mt-4">
            <input type="number" class="form-control" id="floatingPassword" placeholder="12"
                formControlName="ageCharacter">
            <label for="floatingPassword">Edad del personaje</label>
        </div>
        <div class="form-floating col-sm-12 col-md-6 mt-4">
            <select class="form-select" id="floatingSelect" placeholder="Admin" formControlName="rolCharacter">
                <option selected></option>
                <option value="arquero">Arquero</option>
                <option value="asesino">Asesino</option>
                <option value="hada">Hada</option>
            </select>
            <label for="floatingSelect">Rol en el juego</label>

        </div>
        <div class="form-floating col-sm-12 col-md-6 mt-4">
            <select class="form-select" id="floatingSelect" placeholder="Amable" formControlName="personality">
                <option selected>Open this select menu</option>
                <option value="agresivo">Agresivo</option>
                <option value="alegre">Alegre</option>
                <option value="amoroso">Amoroso</option>
            </select>
            <label for="floatingSelect">Personalidad</label>
        </div>

        <div class="form-floating col-12 mt-4">
            <input type="text" class="form-control" id="floatingPassword" placeholder="Puede hacer..."
                formControlName="descriptionRol">
            <label for="floatingPassword">Descripción del rol</label>
        </div>


        <div class="form-floating col-sm-12 col-md-6 mt-4">
            <input type="text" class="form-control" id="character" placeholder="correr" formControlName="ability">
            <label for="floatingInput">Habilidades en el juego</label>
        </div>
        <div class="form-floating col-sm-12 col-md-6 mt-4">
            <input type="date" class="form-control" id="floatingPassword" formControlName="date">
            <label for="floatingPassword">Fecha de creación</label>
        </div>
        <div class="form-floating col-sm-12 col-md-6 mt-4">
            <input type="text" class="form-control" id="floatingPassword" placeholder="Evelin"
                formControlName="creatorName">
            <label for="floatingPassword">Nombre del creador</label>
        </div>
        <div class="form-floating col-sm-12 col-md-6 mt-4">
            <label for="formFileLg" class="form-label">Adjuntar avatar</label>
            <input class="form-control form-control-lg" id="formFileLg" type="file" placeholder="file"
                formControlName="avatar" (change)="getImage($event)">
        </div>

        <app-button class="my-4" [type]="'btn-primary'" [text]="'Crear personaje'" [id]="'button-create'"
            (click)="sendCharacter()">
        </app-button>
        <app-button [type]="'btn-secondary'" [text]="'Cancelar'" [id]="'button-cancelar'" routerLink="/home">
        </app-button>


    </form>


</div>